<mat-form-field
  [formGroup]="formGroup"
>
    <mat-select
      formControlName="{{controlName}}"
      placeholder="{{placeholder}}"
      (selectionChange)="onChange($event)"
      disabled="{{disabled}}"
      [(value)]="selected"
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Пошук"
          [formControl]="search"
        ></ngx-mat-select-search>
      </mat-option>
        <mat-option *ngFor="let option of options" [value]="option.id ? option.id : option.name">
          {{option.name}}
        </mat-option>

    </mat-select>
  </mat-form-field>
