<div class="clients">
  <div class="container">
    <div class="clients__in">

      <!-- START  clients__grid -->
      <div class="clients__grid">
        <!-- START  clients__grid-item -->
        <div class="clients__grid-item">

          <div class="clients__grid-item-top">
            <h3 class="clients__grid-title">Клієнти</h3>

            <mat-form-field appearance="outline">
              <mat-label>Фільтр клієнтів</mat-label>
              <input matInput placeholder="Фільтр клієнтів" #searchClient>
            </mat-form-field>
          </div>

          <ng-container *ngIf="currentClients">
            <mat-card>
              <h3 class="mat-card-title">
                <button (click)="clientService.sort(currentClients, 'clients')">
                  Назва
                  <ng-container *ngIf="clientService.clientsSortReverse !== null">
                    <img src="/assets/icons/{{clientService.clientsSortReverse ? 'arrow-up.svg' : 'arrow-down.svg'}}">
                  </ng-container>
                </button>
              </h3>
              <div class="mat-card-inner">
                <mat-nav-list>
                  <mat-list-item
                    *ngFor="let client of currentClients"
                    (click)="selectClient($event, client)"
                    [class.active]="client.active"
                  >
                    {{ client.name }}
                    <button mat-icon-button (click)="delete($event, client, 'clients')" title="Видалити">
                      <img src="/assets/icons/close.svg">
                    </button>
                  </mat-list-item>
                </mat-nav-list>
              </div>
              <div class="clients__btn">
                <button
                  class="create-client"
                  type="button"
                  mat-raised-button
                  color="primary"
                  (click)="openPopup(paramsClient)"
                >
                  Створити клієнта
                </button>
              </div>

            </mat-card>
          </ng-container>

          <ng-template #loaderClients>
            <div class="clients__loader">
              <mat-spinner></mat-spinner>
            </div>
          </ng-template>

        </div>
        <!-- END  clients__grid-item -->

        <!-- START  clients__grid-item -->
        <div class="clients__grid-item">
          <ng-container *ngIf="currentLocations">
            <!--            <h3 class="clients__grid-title">{{currentConnectionIP}} <img src="/assets/icons/arrow.svg"> Міста</h3>-->
            <div class="clients__grid-item-top">
              <h3 class="clients__grid-title">Міста</h3>

              <mat-form-field appearance="outline">
                <mat-label>Фільтр міст</mat-label>
                <input matInput placeholder="Фільтр міст" #searchLocation>
              </mat-form-field>
            </div>

            <mat-card>
              <h3 class="mat-card-title">
                <button (click)="clientService.sort(currentLocations, 'locations')">
                  Назва
                  <ng-container *ngIf="clientService.locationsSortReverse !== null">
                    <img src="/assets/icons/{{clientService.locationsSortReverse ? 'arrow-up.svg' : 'arrow-down.svg'}}">
                  </ng-container>
                </button>
              </h3>
              <div class="mat-card-inner">
                <mat-nav-list>
                  <mat-list-item
                    *ngFor="let location of currentLocations"
                    (click)="selectLocation($event, location)"
                    [class.active]="location.active"
                  >
                    {{ location.name }}
                    <button mat-icon-button (click)="delete($event, location, 'locations')" title="Видалити">
                      <img src="/assets/icons/close.svg">
                    </button>
                  </mat-list-item>
                </mat-nav-list>
              </div>
              <div class="clients__btn">
                <button
                  class="create-client"
                  type="button"
                  mat-raised-button
                  color="primary"
                  (click)="openPopup(paramsLocation)"
                >
                  Створити місто
                </button>
              </div>

            </mat-card>
          </ng-container>
        </div>
        <!-- END  clients__grid-item -->

        <!-- START  clients__grid-item -->
        <div class="clients__grid-item">
          <ng-container *ngIf="currentConnectionsCWW">

            <div class="clients__grid-item-top">
              <h3 class="clients__grid-title">Підключення CWW</h3>

              <mat-form-field appearance="outline">
                <mat-label>Фільтр підключеннь</mat-label>
                <input matInput placeholder="Фільтр підключеннь" #searchConnection>
              </mat-form-field>
            </div>

            <mat-card>
              <h3 class="mat-card-title">
                <div class="mat-card-title__cols">
                  <span>IP</span>
                  <span>Login</span>
                  <span>Password</span>
                  <button (click)="clientService.sort(currentConnectionsCWW, 'connections')">
                    Status
                    <ng-container *ngIf="clientService.connectionsCWWSortReverse !== null">
                      <img
                        src="/assets/icons/{{clientService.connectionsCWWSortReverse ? 'arrow-up.svg' : 'arrow-down.svg'}}">
                    </ng-container>

                  </button>
                </div>
              </h3>
              <div class="mat-card-inner">
                <mat-nav-list>

                  <mat-list-item
                    *ngFor="let connection of currentConnectionsCWW"
                    (click)="selectConnection($event, connection)"
                    [class.active]="connection.active"
                  >
                    <div class="clients__table">
                      <span>{{ connection.ip }}</span>
                      <span>{{ connection.login }}</span>
                      <span>{{ connection.pswd }}</span>
                      <span><img src="/assets/icons/{{ connection.status ? 'success' : 'error' }}.svg"></span>
                    </div>
                    <button mat-icon-button (click)="delete($event, connection, 'connections')" title="Видалити">
                      <img src="/assets/icons/close.svg">
                    </button>
                  </mat-list-item>
                </mat-nav-list>
              </div>
              <div class="clients__btn">
                <button
                  class="create-client"
                  type="button"
                  mat-raised-button
                  color="primary"
                  (click)="openPopup(paramsConnection)"
                >
                  Створити підключення CWW
                </button>
              </div>

            </mat-card>
          </ng-container>
        </div>
        <!-- END  clients__grid-item -->

        <!-- START  clients__grid-item -->
        <div class="clients__grid-item">
          <ng-container *ngIf="currentDepartments">
            <!--            <h3 class="clients__grid-title">{{currentLocationName}} <img src="/assets/icons/arrow.svg"> Відділи</h3>-->
            <div class="clients__grid-item-top">
              <h3 class="clients__grid-title">Відділи</h3>

              <mat-form-field appearance="outline">
                <mat-label>Фільтр відділів</mat-label>
                <input matInput placeholder="Фільтр відділів" #searchDepartment>
              </mat-form-field>
            </div>

            <mat-card>
              <h3 class="mat-card-title">
                <button (click)="clientService.sort(currentDepartments, 'departments')">
                  Назва
                  <ng-container *ngIf="clientService.departmentsSortReverse !== null">
                    <img
                      src="/assets/icons/{{clientService.departmentsSortReverse ? 'arrow-up.svg' : 'arrow-down.svg'}}">
                  </ng-container>
                </button>
              </h3>
              <div class="mat-card-inner">
                <mat-nav-list>
                  <mat-list-item
                    *ngFor="let department of currentDepartments"
                  >
                    {{ department.name }}
                    <button mat-icon-button (click)="delete($event, department, 'departments')" title="Видалити">
                      <img src="/assets/icons/close.svg">
                    </button>

                  </mat-list-item>
                </mat-nav-list>
              </div>
              <div class="clients__btn">
                <button
                  class="create-client"
                  type="button"
                  mat-raised-button
                  color="primary"
                  (click)="openPopup(paramsDepartment)"
                >
                  Створити відділ
                </button>
              </div>

            </mat-card>
          </ng-container>
        </div>
        <!-- END  clients__grid-item -->
      </div>
      <!-- END  clients__grid -->
    </div>
  </div>
</div>
