.clients
  padding-top: 60px
  &__title
    font-size: 28px
    text-align: center
    margin-bottom: 30px

  &__btns
    display: flex

.create-client
  margin-left: auto
  background-color: #3b9d25
