.clients
  padding-top: 60px
  &__title
    font-size: 28px
    text-align: center
    margin-bottom: 30px

  &__btn
    display: flex
    margin-top: 30px

  &__grid
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &-item
      width: 48%
      margin-bottom: 30px
    &-title
      display: flex
      align-items: center
      justify-content: center
      font-size: 22px
      img
        height: 20px
        margin: 0 10px

  &__loader
    display: flex
    justify-content: center

  &__table
    width: 100%
    display: flex
    span
      width: 33%


.create-client
  margin-left: auto
  background-color: #3b9d25


.mat-list-item-content
  align-items: center

.mat-radio-button
  display: flex
  align-items: center
  width: 100%
  height: 100%

