<div class="create-users">
  <div class="container">
    <div class="create-users__in">
      <h2 class="create-users__title title">Користувачі</h2>



      <mat-card class="create-users__table">
        <h3 class="create-users__table-title">
          <div class="create-users__cols">
            <span>Логін</span>
            <span>Роль</span>
            <span>Кліент</span>
            <span>Email</span>
            <span>ПІБ</span>
          </div>
        </h3>
        <div class="create-users__table-inner">
          <mat-list>

            <mat-list-item
              *ngFor="let user of users; let i = index"
              class="create-users__table-row"
            >
              <div class="create-users__cols">
                <span>{{ user.login }}</span>
                <span>{{ user.role }}</span>
                <span>{{ user.client }}</span>
                <span>{{ user.email }}</span>
                <span>{{ user.name }}</span>

                <button mat-icon-button (click)="openEditPopup(user)" class="create-users__edit" title="Редагувати">
                  <img src="/assets/icons/pen.svg" alt="Редагувати">
                </button>

                <button mat-icon-button (click)="deleteUser($event, user)" class="create-users__delete" title="Видалити">
                  <img src="/assets/icons/close.svg">
                </button>
              </div>

            </mat-list-item>
          </mat-list>
        </div>
        <div class="create-users__btn">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="openPopup()"
          >
            Створити користувача
          </button>
        </div>

      </mat-card>

    </div>
  </div>
</div>
