@import '~@angular/material/prebuilt-themes/indigo-pink.css'
@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss'
@import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss'
@import './app/shared/styles/reset.sass'
@import './app/shared/styles/variables.sass'

.ag-theme-alpine
  @include ag-theme-alpine()

.grid-cell-centered .ag-header-cell-label, .grid-cell-centered .ag-header-group-cell-label
  justify-content: center
.bg-blue
  background-color: $blue
  color: white
.bg-green
  background-color: $green
  color: white
.bg-black
  background-color: black
  color: white
.bg-cyan
  background-color: #00FFFF
.bg-magenta
  background-color: #FF00FF
  color: white
.bg-yellow
  background-color: yellow

.container
  width: 1600px
  margin: 0 auto

.auth-block
  width: 400px
  margin: 200px auto 0

.header
  padding: 20px 0
  background-color: $blue

  &__logo
    font-size: 22px
    color: white


