@import '~@angular/material/prebuilt-themes/indigo-pink.css'
@import './app/shared/styles/reset.sass'
@import './app/shared/styles/variables.sass'

.container
  width: 1200px
  margin: 0 auto

.auth-block
  width: 400px
  margin: 200px auto 0

.header
  padding: 20px 0
  background-color: $blue

  &__logo
    font-size: 22px
    color: white
