@import '~@angular/material/prebuilt-themes/indigo-pink.css'
@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss'
@import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss'
@import './app/shared/styles/reset.sass'
@import './app/shared/styles/variables.sass'

body
  background-color: #f5f5dc
.ag-theme-alpine
  @include ag-theme-alpine()

.grid-cell-centered .ag-header-cell-label, .grid-cell-centered .ag-header-group-cell-label
  justify-content: center
.grid-cell-border
  border-left: 1px solid #cfd2ce

.pseudo-black, .pseudo-cyan, .pseudo-magenta, .pseudo-yellow
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 70px
    height: 6px
    background-color: black
.pseudo-cyan:after
  background-color: #00FFFF
.pseudo-magenta:after
  background-color: #FF00FF

.pseudo-yellow:after
  background-color: yellow
.mat-form-field-appearance-fill .mat-form-field-flex
  background-color: transparent
.container
  width: 1700px
  margin: 0 auto

.auth-block
  width: 400px
  margin: 200px auto 0
.title
  font-size: 28px
  text-align: center
  margin-bottom: 30px

.header
  padding: 20px 0
  background-color: $blue
  margin-bottom: 40px

  &__in
    display: flex

  &__logo
    margin-right: 100px
    font-size: 22px
    color: white


.mat-radio-label
    height: 100%
.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-header-cell
  padding-left: 8px
  padding-right: 8px
